extends ./admin.pug

block main
    h1 📊 Bảng điều khiển (Dashboard)
    hr

    .row.mt-4
        .col-4
            .card.bg-primary.text-white.mb-3
                .card-body
                    h5 Tổng số Sản phẩm
                    h2= totalProducts

        .col-4
            .card.bg-success.text-white.mb-3
                .card-body
                    h5 Đơn hàng mới
                    h2= totalOrders

        .col-4
            .card.bg-warning.text-dark.mb-3
                .card-body
                    h5 Liên hệ mới
                    h2= totalContacts