extends ./admin.pug

block main
    h1 📊 Bảng điều khiển (Dashboard)
    hr

    div.row.mt-4
        div.col-4
            div.card.bg-primary.text-white.mb-3
                div.card-body
                    h5 Tổng số Sản phẩm
                    h2 150

        div.col-4
            div.card.bg-success.text-white.mb-3
                div.card-body
                    h5 Đơn hàng mới
                    h2 12

        div.col-4
            div.card.bg-warning.text-dark.mb-3
                div.card-body
                    h5 Liên hệ mới
                    h2 5